<div>
  <div>
    <h1>
      Photo #<%= @the_photo.id %> details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>Image</dt>
      <dd><img src="<%= @the_photo.image %>" class="img-responsive"></dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.poster.username %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        
      </dd>

      <dt>
        Add a fan
      </dt>

    <% if session.fetch(:user_id) == nil %>

    <% else %>
        
      <% liked_photo = Like.where({ :photo_id => @the_photo.id, :fan_id => session.fetch( :user_id) })%>
      <% like_status = liked_photo.at(0) %>

      <% if like_status == nil %>
      
      <dd>  
        <form action="/insert_like"  method="post" >
        <input type="hidden" id="like_photo" name="query_photo_id" value="<%= @the_photo.id %>">
        <button>Like</button>
      </dd>

      <% else %>

      <dt>
        <dd>
        <a href="/delete_like/<%= @the_photo.likes.at(0).id %>">
          Unlike
        </a>
        <%= @the_photo.likes.at(0).id %>
        <dd>
      </dt>

      <% end %>

    <% end %>

      <dt>
        Edit photo
      </dt>

      <dd>
        <form action="/modify_photo/<%= @the_photo.id %>"  method="post" enctype="multipart/form-data">

        <label for="image_box">
          Image URL
        </label>
        <input type="file" id="image" name="image" value="<%= @the_photo.image %>" class="form-control">

        <label for="caption_box">
          Caption
        </label>
        <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>

        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
        <input type="hidden" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
        <input type="hidden" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">

        <button>
          Update photo
        </button>
        </form>
      </dd>

      <dt>
        Delete photo
      </dt>

        <dd>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete this photo
        </a>
        <dd>


    </dl>
  </div>
</div>

<div>
  <div>
    <h2>Comments</h2>

    <table>
      <tr>
        <th>Commenter</th>
        <th>Comment</th>
        <th>Posted</th>
      </tr>

      <% @the_photo.comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.commenter.username %>
        </td>

        <td>
          <%= comment.body %>
        </td>

        <td>
          <%= comment.created_at %>
        </td>
      </tr>
      
      <% end %>
    </table>

    <h3>Add a new comment</h3>

      <form action="/insert_comment" method="post">
        <input type="hidden" value=<%= @the_photo.owner_id %> name="query_photo_id">
        
        <label for="browser_comment">Comment</label>
        <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

        <button>Add comment</button>
      </form>

  </div>
</div>


