<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramFinal</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

          <nav>
      <ul>
        <li>
          <a href="/users">All users</a>
        </li>
        <li>
          <a href="/photos">All public photos</a>
        </li>
        <li>
          <% user = User.where({ :id => session.fetch(:user_id)}).first %>
          <% if session.fetch(:user_id) != nil %>
            <a href="/users/<%= user.username %>"><%= user.username %></a>
          <% else %>
            <a href="/user_sign_in">Sign in</a>
          <% end %>
        </li>   
        <li>
          <% if session.fetch(:user_id) != nil %>
            <a href="/user_sign_out">Sign out</a>
          <% else %>
            <a href="/user_sign_up">Sign up</a>
          <% end %>
        </li>
      </ul>
    </nav>

  <% if notice.present? %>
    <div style="color: green">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div style="color: red">
      <%= alert %>
    </div>
  <% end %>

    <%= yield %>
  </body>
</html>
